<html>
  <head>
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">

      // Load the Visualization API and the piechart package.
      google.load('visualization', '1.0', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.


      google.setOnLoadCallback(drawChart);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart() {

        /*console.log(data_to_plot)*/

        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Genre');
        data.addColumn('number', 'Volume');
        data.addRows({{ entries|safe }});

        // Set chart options
        var options = {'title':'Music genres repartition in ' + {{year|safe}} + ' in ' + '{{country|safe}}',
                       'width':500,
                       'height':400};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
  </head>

  <body>
    <h1><a href="{{ request.url_root }}"> MusicQuery </a></h1>
    <br>

    <form action="/piechart" method="get">
      Year:    <input name="year" value = {{year}}></input>
      <br>
      Country: <input name="country" value = '{{country}}'></input>
      <br>
      <input type="submit" value="Plot!"></input>
    </form>

    <!--Div that will hold the pie chart-->
    <div id="chart_div"></div>

  </body>
</html>